* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

body {
  height: 90dvh;
  margin: 0;
  padding: 20px;
  background: #222831;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 260px;
  background: #393e46;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.display {
  height: 5dvh;
  background: #948979;
  padding: 15px;
  text-align: right;
  font-size: 24px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.btn {
  flex: 1 1 calc(25% - 8px);
  padding: 12px;
  font-size: 18px;
  border: none;
  background: #ddd;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: all 100ms linear;
}

.btn:hover {
  background: #ccc;
  transform: scale(1.1);
}

.operator {
  background: #ee9208;
}

.operator:hover {
  background: #c98b30;
}

#zero {
  flex:calc(50% - 8px);
}
